body{
	background: url('../assets/sprites/ui/background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content{
	width: 1080px;
	height: 720px;
	margin: 20px auto;
}

#pixelquest{
	position: relative !important;
}


img#game_frame{
	position: absolute;
	left: 50%;
	margin-left: -550px;
	z-index: 100;
}

img#logo{
	position: absolute;
	left: 50%;
	margin-left: -252px;	
	top: 60px;
	width: 505px;
}

canvas#canvas{
	position: relative;
}

.chat-widget{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 99999999;
    width: 400px;
    height: 160px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.chat-message span{
	color: #56e030;
	margin-right: 5px;
}

.chat-message, .error{
	color: #3498db;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.chat-messages{
	color: #fff;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 120px;
	width: 385px;
    padding: 7px 15px 0px 0px;
    margin-top: 13.5px;
}

/*Chat Widget Messages*/

form#chat-widget{
	display: none;
    margin-top: -12px;
    margin-left: -10px;
}

input.chat-entry{
	background: none !important;
	border: none;
	outline: none;
	color: #fff;
	padding: 3px 2px 3px 4px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	width: 340px;
	height: 15px;
	z-index: 100;
	bottom: -15px;
}

input#submit{
    float: right;
    position: absolute;
    right: -110px;
    bottom: -17px;
    cursor: pointer;
	background: none !important;
	border: none;
	outline: none;
	width: 50px;
	bottom: -12px;
}

p#usernameError{
	color: #fff;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	position: absolute;
}

.input-area{
	width: 280px;
	margin-top: 16px;
	position: relative;
}


input#chatuser{
	background: none !important;
	border: none;
	outline: none;
	color: #fff;
	padding: 3px 2px 3px 4px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	bottom: 3px !important;
	width: 340px;
	height: 15px;
	z-index: 10;	
}

form#username-widget input#submit-username{
    float: right;
    position: absolute;
    cursor: pointer;
	background: none !important;
	border: none;
	outline: none;
	width: 50px;
	bottom: 5px;
	right: 14px;
}

#userList {
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	color: #fff;
	position: absolute;	
}